.taskForm {
    padding-bottom: 1rem;
}

.taskForm button {
    background-color: #333974;
    color: var(--white);
    padding: 5px 10px;
    margin-right: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    opacity: .8;
    transition: .3s;
    font-size: 0.9rem;
}

.taskSelect {
    background-color: var(--white);   
}